/* Unique class name to avoid conflicts */
.section-two {
    padding: 30px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

.about-section, .skills-section {
    flex: 1;
    min-width: 300px; 
    padding: 10px;
}

.about-title {
    font-size: 25px;
}

.designer-title {
    font-size: 20px;
    color: gold;
}

.description {
    font-size: 16px;
}


@media (max-width: 768px) {
    .content-container {
        flex-direction: column; 
    }
    
    .about-section, .skills-section {
        min-width: 100%;
    }

    .about-title {
        font-size: 22px;
    }

    .designer-title {
        font-size: 18px;
    }

    .description {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .about-title {
        font-size: 20px;
    }

    .designer-title {
        font-size: 16px;
    }

    .description {
        font-size: 12px;
    }
}
