.footer {
    background-color: #0D7C66;
    color: white;
    padding: 20px 0;
    font-family: sans-serif;
  }
  
  .footer-content {
    display: flex;
    background-color: #0D7C66;
    justify-content: space-around;
    color: white;
    align-items: flex-start;
    padding: 20px;
  }
  
  .footer-section {
    flex: 1;
    background-color: #0D7C66;
    color: white;
    padding: 0 20px;
  }
  
  .footer-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    background-color: #0D7C66;
    color: white;
  }
  
  .footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    background-color: #0D7C66;
    color: white;
  }
  
  .footer-section ul {
    list-style-type: none;
    background-color: #0D7C66;
    color: white;
  }
  
  .footer-section ul li {
    margin: 5px 0;
    background-color: #0D7C66;
    color: white;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
    background-color: #0D7C66;
  }
  
  .footer-section ul li a:hover {
    color: red;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-icon {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .social-icon:hover {
    color: red;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10px;
    }
  
    .footer-section {
      padding: 10px 0;
      margin-bottom: 20px;
    }
  
    .footer-section h2 {
      font-size: 18px;
    }
  
    .footer-section p, .footer-section ul {
      font-size: 14px;
    }
  
    .social-media {
      margin-top: 20px;
    }
  
    .social-icon {
      margin: 0 5px;
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .footer-content {
      padding: 5px;
    }
  
    .footer-section h2 {
      font-size: 16px;
    }
  
    .footer-section p, .footer-section ul {
      font-size: 12px;
    }
  
    .footer-section {
      padding: 5px 0;
    }
  
    .social-icon {
      margin: 0 3px;
      font-size: 12px;
    }
  }
  