.sectionOne-main {
    background-image: url('../../images/image1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: start;
    text-align: center;    
    width: 100%;
}

/* Adjust the content positioning and responsiveness */
.wx-50 {
    width: 50%;
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.fs-40 {
    font-size: 40px;
}

.border-bold-2 {
    border-width: 2px;
    border-style: solid;
}

.color-red {
    color: #0D7C66;
}

/* Adjust for medium-sized screens */
@media (max-width: 768px) {
    .wx-50 {
        width: 90%;
    }

    .fs-40 {
        font-size: 30px;
    }

    .p-30 {
        padding: 15px;
    }

}

/* Adjust for small screens */
@media (max-width: 480px) {
    .sectionOne-main {
        padding: 0px;
        height: auto; /* Automatically adjust the height for small screens */
    }

    .wx-50 {
        width: 100%;
    }

    .fs-40 {
        font-size: 24px;
    }

    .p-30 {
        padding: 0px;
        padding-top: 30px;
    }

    .button-style-primary {
        font-size: 16px;
    }
}
