html {
  scroll-behavior: smooth;
}
*{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  line-height: 25px;
  background-color: #000000;
  color: white;
}

/* BACKGROUND COLOR */

.bg-white {
 background-color: white;
}
.bg-red {
 background-color:#0D7C66;
}
.bg-grey{
  background-color: #222222;
}

/* PADDING */
.p-5{
  padding: 5px;
}
.p-15{
  padding: 15px;
}
.p-25{
  padding: 15px;
}
.p-30{
  padding: 30px;
}

/* PADDING LEFT */
.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
/* FONT SIZE */

.fs-25{
  font-size: 25px;
}

.fs-30{
  font-size: 30px;
}
.fs-40{
  font-size: 40px;
}
.fs-50{
  font-size: 50px;
}

/* BORDER */
.border-bold-2{
  border: 2px solid #0D7C66;
}

/* COLORS */

.color-red {
  color: #0D7C66;
}
.color-gold {
  color: gold;
}

/* HEIGHT */

.hx-50{
  height: 50%;
}
.hx-100{
  height: 100%;
}

/* VIEW HEIGHT */

.vh100{
  height: 100vh;
}
.vh80{
  height: 80vh;
}
.vh90{
  height: 90vh;
}

/* MARGIN-BOTTOM */

.mb-20 {
  margin-bottom: 20px;
}

/* FONT BOLD */

.bold-700 {
  font-weight: 700;
}

/* WIDTH */

.wx-50 {
  width: 50%;
}
.wx-60 {
  width: 60%;
}
.wx-70 {
  width: 70%;
}
.wx-80 {
  width: 80%;
}
.wx-90 {
  width: 90%;
}
.wx-100 {
  width: 100%;
}

/* DISPLAY */

.d-flex {
  display: flex;
}

/* JUSTIFY CONTENET */
.justify-content-center {
  justify-content: center;
}

.button-style-primary {
  background-color: #0D7C66;
  text-decoration: none;
    color: white;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.button-style-primary:hover {
  background-color: white;
  color: #0D7C66;
}

.button-style-primary:active {
  background-color: darkred;
  color: black;
  border-color: #0D7C66;
}

.heading-with-line {
  position: relative;
  padding-bottom: 10px; 
}

.heading-with-line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px; /* Thickness of the line */
  background-color: white; /* Color of the line */
}
/* .main-content-section{
  padding: 50px;
} */